*{
    margin: 0;
    padding: 0;
}
body{
    font: 12px/1.5 tahoma,arial,"\5b8b\4f53";
  
    -webkit-font-smoothing: antialiased;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.wrapper{
    width: 1230px;
    margin:0 auto;
  
}
.arrow{
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border:3px solid transparent;
    border-top:3px solid #bbb;
    position: absolute;
    right:8px;
    top:15px;
    transition:transform 0.2s linear;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
