#header{
    height: 32px;
    line-height: 32px;
    background: #a9180a;
    border-bottom:1px solid #a9180a;
}
.header-login{
    /* background: #0f0; */
    height: 32px;
    /* line-height: 32px; */
    float: left;
}
.header-login span,.header-login a{
    color:#fff;
    font-size: 12px;
}
.header-login a{
    /* 去掉a标签的下划线 */
    text-decoration: none;
    padding:0 10px 0 20px;
}
.header-list{
    float:right;
    /* background: #00ffff; */
}
/* 子代选择器 */
.header-list > li{
    float: left;
    padding:0 14px 0 10px;
    /* background: #ff0000; */
}
.header-list > li > a{
    color:#fff;
}
.list-arrow{
    /*  */
    position: relative;
}
.sub-list{
    position: absolute;
    left:0px;
    top:32px;
    background: #fff;
    padding: 10px;
    border:1px solid #ccc;
    border-top:none;
    display: none;
}
.sub-list-tb{
    width:72px;
    line-height: 20px;
    /* z-index:5; */
}
.sub-list > li > a{
    color:#999;
}
/* class名为.list-arrow 的li  hover的时候  找到它里边class名为sub-list 的ul 显示 */
.list-arrow:hover .sub-list{
    display: block;
}
.list-arrow:hover{
    background: #fff;
}
.list-arrow:hover > a{
    color:#ff0036;
    text-decoration: underline;
}
/* lihover 箭头转 */
.list-arrow:hover .arrow {
    transform: rotate(180deg);
    transform-origin: 50% 25%;
}
.sub-list .list-tb-baby:hover{
    color:#ff0036;
    text-decoration: underline;
}
.my-car{
    font-size:12px;
    color:greenyellow;
}
/* header 结束 */
/* 搜索 开始 */
.logo-box{
    overflow: hidden;
}
.logo{
    width: 240px;
    height: 130px;
    float: left;
}
.search-box{
    float: left;
    margin-left:96px;
    margin-top:38px;
    overflow: hidden;
}
.search-content{
    width: 623px;
    height: 36px;
    border:2px solid #ff0036;
}
.search-input{
    width: 491px;
    height: 36px;
    border:none;
    /* 输入框 选中样式   */
    outline: none;
    text-indent: 5px;
    float: left;
}

/* 623 491 132 */
.search-btn{
    width: 132px;
    height: 36px;
    background: #ff0036;
    border:none;
    float: left;
    font-size: 18px;
    font-weight: 700;
    color:#fff;
    /* 文字之前空隙 */
    letter-spacing: 5px;
}
.search-list li{
    float: left;
    margin-top:3px;
    padding:0 12px;
    position: relative;
    left:-13px;
}
.search-list li::after{
    content:'';
    width:1px;
    height:15px;
    background: #999999;
    position: absolute;
    left:0;
    top:4px;
}
.search-list li a{
    color:#999;
    font-size: 14px;
}
.search-list li.list-hot a{
    color:#ff0036;
}
/* 搜索 结束 */
/* nav 开始  */
.nav{
    padding-left:200px;
    width:1030px;
    overflow: hidden;
    /* background: #000; */
}
.nav li{
    float: left;
}
.nav li img{
    width: 100px;
    height: 30px;
    margin-top:3px;
}
.nav a{
    color:#333;
    font-size: 16px;
    font-weight:500;
    display: block;
    height: 35px;
    line-height: 35px;
    padding:0 8px;
}
.slide-box{
    background-color: #ccc;
}
.slide-box .wrapper{
    position: relative;
}
.menu-box{
    background-color:#999;
    position: absolute;
    top: -35px;
    left: 0px;
    width: 200px;
    height: 535px;
}
.menu-box .fenlei h1{
    font-size: 16px;
    font-weight: 700;
    height: 36px;
    line-height: 36px;
    background-color: #ff0036;
}
.menu-box .fenlei li {
    font-size: 14px;
    height: 31.2px;
    line-height: 31.2px;
}
.menu-box .fenlei h1 span{
    margin-left: 14px;
    margin-top: 0px;
}
.menu-box .fenlei a{
    color: antiquewhite;
}
.white{
    color: antiquewhite;
}
.list-menu:hover{
    background-color: #fff;
}
.list-menu:hover > a{
    color: #a9180a;
}
.list-menu:hover .my-car{
    color: #a9180a;
}
.list-menu{
    position: relative;
}
.fun{
    position: absolute;
    top: 0px;
    left: 200px;
    width: 850px;
    height: 500px;
    background-color: #fff;
    display: none;
}

.fun .list-left{
    width: 600px;
    height: 500px;
    box-sizing: border-box;
}
 .fun .list-right{
    width: 250px;
    height: 500px;
    
    color: #FAFAFA;
    box-sizing: border-box;
}
.brand-list{
   float: left;
   margin: 0 0 0 10px;
   
}
.brand{
    overflow: hidden;
}
.img1{
    width: 234px;
    height: 316px;
}
.img2{
    width: 485px;
    height: 316px;
}
.img3{
    width: 485px;
    height: 316px;
}
   
} 
.list-menu:hover .fun{
    display: block;
}
.brand{
    margin: 0 9.2px;
    padding: 24px 30px 0 0;
    width: 1244px;
}
.head .cn{
    font-size: 18px;
    font-weight: 700;
    height: 18px;
    line-height: 54px;
}
.head .en{
    font-size: 14px;
    height: 24px;
    line-height: 44px;
}
.list-logo{
    width: 1244px;
    height: 200px;
    margin: 10px 0 0 0;
   

}
.list-logo-1 img{
    width: 122px;
    height: 90px;
    
}
.list-logo-1{
    float: left;
    position: relative;
    margin-left: 10px;
    overflow: hidden;
    
}
.list-logo-mask{
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    background: rgba(0,0,0,0.8);
    width: 122px;
    height: 90px;
    margin: 0 auto;
    color: #fff;
    opacity: 0;
    transition: opacity 0.5s ease;
    

}
.list-logo-name{
    margin-top: 30px;
}
.list-logo-2{
    background-color: #ff0036;
    width: 63px;
    height: 18px;
    margin:0 auto;
    border-radius: 10px;
}
.list-logo-1:hover .list-logo-mask{
    opacity: 1;
}
.mart{
    width: 1244px;
    height: 32px;
    margin: 20px 5px 10px 5px;
}
.mart-head{
    width: 1244px;
    height: 30px;

}
.mart-head .mart-head-img a img{ 
    width: 214px;
    height: 25px;
    margin-left: 15px;
}
.mart-head-img{
    float: left;
}
.mart-head-menu{
    float: right;
}
.mart-head-menu li{
    float: left;
    padding: 0 5px;
    font-size: 
    
} 





