<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
    是否需要额外付费<input type="checkbox"  v-model="isShow">
    <ul v-show="isShow">
        <li v-for="obj in List">
                {{obj.name}}({{obj.price}})
            <input type="checkbox" :value="obj" v-model="orderList" ></li>
        
    </ul>
    <div>
       <p>订单费用信息</p> 
       <ul>
           <li v-for="obj in orderList"> {{obj.name}}({{obj.price}})</li>
       </ul>
       <p>总金额:{{total()}}</p>

    </div>
</div>
    <script src="vue.js"></script>
    <script>
        let vm = new Vue({
            el:"#app",
            data:{
               List:[
                  {   
                      name:"沙发",
                      price:1111,
                      
                  },{   
                      name:"wifi",
                      price:222,
                    
                  },{   
                      name:"电脑",
                      price:3333
                  }
               ],
               isShow:false,
               orderList:[{name:"群力花园豪华型",price:400}]
            },
            methods:{
                total(){
                    let sum = 0;
                    this.orderList.forEach(function(obj){
                        sum+= obj.price
                    })
                    return sum;

                }
            }
        })
            
    </script>
</body>
</html>