<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        #container {
            width: 400px;
            margin: 50px auto;
        }

        ul {
            list-style: none;
        }

        li {
            height: 50px;
            line-height: 50px;
            background: #cccccc;
            padding: 0 10px;
            margin-bottom: 10px;
        }

        .price,
        .close {
            float: right;
        }

        .close {
            margin-left: 10px;
            color: red;
        }

        .selected {
            background: pink;
        }
    </style>

</head>

<body>
    <div id="container">
        <h1>todolist</h1>
        <hr>
        <div>
            <label for="proName">名称</label>
            <input type="text" id="proName" placeholder="请输入产品名" v-model="name">
            <label for="proPrice">价格</label>
            <input type="text" id="proPrice" placeholder="请输入产品价格" v-model="price">
            <button @click="add()">添加</button>
        </div>
        <div>
            <input type="text" placeholder="请输入搜索内容" v-model="seachValue">
            <button @click="search(obj)">搜索</button>
        </div>
        <ul>
            <li v-for="(product,index) in proList" @click="change(product)" :class="{selected:product.isSelect}" v-show="product.isShow">
                <input type="checkbox"  v-model="product.isSelect">{{product.name}}
                
                <span class="close" @click.stop="del(index)">[X]</span>
                <span class="price">{{product.price}}</span>
            </li>
        </ul>
        <div>
            <button @click="detAll()">删除选中</button>
            <span >总计 {{total()}}</span>
            
        </div>
    </div>
    <script src="vue.js"></script>
    <script>
        let vm = new Vue({
            el: "#container",
            data: {
                proList: [
                    {
                        name: "裤子",
                        price: 111,
                        isSelect:false,
                        isShow:true
                    }, {
                        name: "衣服",
                        price: 200,
                        isSelect:false,
                        isShow:true
                    }
                ],
                name: "",
                price: "",
                searchValue:""
            },
            methods: {
                add() {
                    this.proList.push({name:this.name,price:this.price * 1,isSelect:false,isShow:true});
                    
                    this.name = "";
                    this.price = "";
                },
                change(product){
                    product.isSelect = !product.isSelect
                },
                total(){
                    let sum = 0;
                    this.proList.forEach(function(obj)
                    {
                        if(obj.isSelect){
                            sum += obj.price;
                        }
                    }) 
                    return sum;
                },
                del(index){
                    this.proList.splice(index,1)
                },
                detAll(){
                    var arr = this.proList.filter(function(obj){
                        return  !obj.isSelect;
                    })
                      this.proList = [...arr];
                },
                search(){
                    this.proList.forEach((obj)=>{
                        if(obj.name.includes(this.searchValue)){
                            obj.isShow = true;
                        }else{
                            obj.isShow = false;
                        }
                    })
                }
        

            }


               

     

        })
    </script>
</body>

</html>