<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    .red{
        color: red
    }
    </style>
</head>
<body>
    <div id="app">
        <input type="text" v-model="name" @keyup="filter()">
        <button @click="added()">add</button>
        <ul>
            <li v-for="(obj,index) in list" @click="change(obj)" :class="{red:obj.isRed}">
                {{obj.name}}
                <button @click.stop="delete(index)">del</button>
            </li>
        </ul>
       
    </div>
   
    <script src="vue.js"></script>
    <script> 
        let vm = new Vue({
            el:"#app",
            data:{
                list:[
                    {
                        name:"aaa",
                        isRed:false,
                        isShow:true
                    }
                ],
                name : ""
         
            },
            methods:{
               added(){
                 this.list.push({name:this.name,isRed:false});
                 this.name = "";
                 this.isShow = true
                 
               },
               change(obj){
                   obj.isRed = !obj.isRed;
               },
               delete(index){
                   this.list.splice(index,1)
               },
               filter(){
                   var value = this.name
                   this.list.forEach(function(obj,index){
                       if(obj.name.includes(value)){
                           obj.isShow = true
                       }else{
                           obj.isShow = false
                       }
                   });
               }
            }
        })
    
    </script>
</body>
</html>